<nav id="navBar">
  <div class="nav-color"></div>
  <div class="navSection">
    <div class="logo">
      <h1 class="navHeading"><span>U</span>TOPIC <span>F</span>LOWERS</h1>
      <p class="navPara">Free PSD Website Template</p>
    </div>
    <div class="navDesc">
      <div class="inputSection">
        <input type="text">
        <small class="navSearchIcon"><fa-icon [icon]="searchIcon" ></fa-icon></small>
      </div>
      <div class="navMenuSection">
        <ul class="menu">
          <li><a>HOME</a></li>
          <li><a>STYLE DEMO</a></li>
          <li><a>FULL WIDTH</a></li>
          <li><a>DROPDOWN</a></li>
          <li><a>PORTFOLIO</a></li>
          <li><a>GALLERY</a></li>
        </ul>
      </div>
    </div>
  </div>
</nav>
